
@{
    ViewBag.Title = "Index";
}

<br />

<input id="counterDisplay" type="text" class="form-control" readonly />

<br />

<button class="btn btn-lg btn-success" onclick="start()" id="startBtn">Start</button>

<div class="row" id="buttonArea">

</div>

@section Scripts{

    <script src="~/Scripts/main.js"></script>

}