@model IncrementalSandbox.Models.JsMvcFusionVM
@{
    ViewBag.Title = "JsMvcFusion";
}

@using (Html.BeginForm())
{
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Click Count</h3>
            </div>
            <div class="panel-body">
                @Html.TextBoxFor(m => m.Clicks, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Click Multiplier</h3>
            </div>
            <div class="panel-body">
                @Html.TextBoxFor(m => m.ClickMultiplier, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Auto-Clickers</h3>
            </div>
            <div class="panel-body">
                @Html.TextBoxFor(m => m.AutoClickers, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    </div>
}

<div class="row" id="buttonArea">

</div>

@section Scripts{

    <script src="~/Scripts/JsMvcFusion.js"></script>

}