@model IncrementalGoblinBattle.UI.Models.Skirmish.SkirmishCommenceVM
@{
    ViewBag.Title = "Commence";
}

@foreach(var g in Model.Combatants)
{
    <div class="col-md-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                @g.Type
            </div>
            <div class="panel-body">
                @g.GetHitpoints()
            </div>
        </div>
    </div>
}