@model GuildCarsMastery.Models.Admin.AdminModelsVM
@{
    ViewBag.Title = "Models";
}

<h2>Models</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97002.01167950114!2d-105.1376916497662!3d40.55676772761801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87694a4590f030ad%3A0xa9b14228b4ab4082!2sFort+Collins%2C+CO!5e0!3m2!1sen!2sus!4v1523027379178" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

@section Scripts{
    
    
    
    }